<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Contact</h2>
      <% if(!contact) { %>
      <div class="alert alert-danger" role="alert">
        Data contact tidak ada.
        <a href="/contact" class="alert-link">Kembali</a> ke daftar contact.
      </div>
      <% }else{ %>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title"><%= contact.nama %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= contact.nohp %></h6>
          <p class="card-text"><%= contact.email %></p>
          <a
            href="/contact/edit/<%= contact.nama %>"
            class="btn btn-success badge"
            >ubah</a
          >
          <form action="/contact?_method=DELETE" method="POST" class="d-inline">
            <input type="hidden" name="nama" value="<%= contact.nama %>" />
            <button
              type="submit"
              class="btn btn-danger badge"
              onclick="return confirm('Yakin?')"
            >
              hapus
            </button>
          </form>
          <a href="/contact" class="card-link d-block mt-3"
            >&laquo; Kembali ke halaman contact</a
          >
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
